<h1>Log in</h1>
<div class="form">
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  
  <%= f.submit "Log in", :id=>"btn_new", :class=>"btn btn-primary" %>
<% end %>
</div>