<div class="container">
  <div class="contents">
    <p><%= notice %></p>
    <img src="assets/beach.jpg" class="img-circle">
    <p>このアプリは、ブログを作成していくアプリです。<br>ブログの一覧や編集、削除が可能です。</p>
    <%= link_to 'ブログを新しく投稿する', new_blog_path %>
    <h1>ブログ一覧</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default">ダウンロード
      <span class="glyphicon glyphicon-download"></span>
      </button>
    </div>
    
<!--Ver.1-->
  <table class="table_center">
    <tr>
      <th class="col-xs-3 col-sm-3 col-md-2 col-lg-2">タイトル</th>
      <th class="col-xs-3 col-sm-3 col-md-5 col-lg-5">内容</th>
    </tr>    

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td> 
      <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
      <td><%= link_to 'ブログを編集する', edit_blog_path(blog.id) %></td>
      <td><%= link_to 'ブログを削除する', blog_path(blog.id),method: :delete, data: {confirm:'本当に削除していいですか？'} %></td>  
    </tr>
  <% end %>
  </table>
  
  <hr>
  
  
<!--Ver.2-->
    <div class="row">
      <% @blogs.each do |blog| %>
      <div>
      <div class="col-xs-12 col-sm-2 col-md-2">タイトル：<%= blog.title %></div>
      <div class="col-xs-12 col-sm-4 col-md-4">内容：<%= blog.content %></div> 
      <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to '詳細を確認する', blog_path(blog.id) %></div>
      <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to 'ブログを編集する', edit_blog_path(blog.id) %></div>
      <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to 'ブログを削除する', blog_path(blog.id),method: :delete, data: {confirm:'本当に削除していいですか？'} %></div>  
      </div>
      <% end %>
    </div>
  </div>
</div>