<div class="container">
  <div class="contents">
    <h3>ブログ一覧</h3>
    <br>
    <p><%= notice %></p>
  
    <% @blogs.each do |blog| %>
    　　<div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2">タイトル：<%= blog.title %></div>
          <div class="col-xs-12 col-sm-4 col-md-4">内容：<%= blog.content %></div> 
          <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to '詳細を確認する', blog_path(blog.id) %></div>
          <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to 'ブログを編集する', edit_blog_path(blog.id) %></div>
          <div class="col-xs-12 col-sm-2 col-md-2"><%= link_to 'ブログを削除する', blog_path(blog.id),method: :delete, data: {confirm:'本当に削除していいですか？'} %></div>  
        </div>
    <% end %>
    
    <a class="btn btn-primary" href="blogs/new" role="button">ブログ投稿画面へ戻る</a>
  </div>
</div>
