<div class="container">
  <div class="contents">
    <h3>Blog list</h3>
    <br>
    <p><%= notice %></p>
  
    <% @blogs.each do |blog| %>
    　　<div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">タイトル：<%= blog.title %></div>
          <div class="col-xs-12 col-sm-3 col-md-3">内容：<%= blog.content %></div>
          <div class="col-xs-12 col-sm-3 col-md-3">画像: <br><%= image_tag(blog.image)%></div>
          <div class="col-xs-12 col-sm-1 col-md-1"><%= link_to 'confirm', blog_path(blog.id) %></div>
           <% if blog.user_id == current_user.id %>
            <div class="col-xs-12 col-sm-1 col-md-1"><%= link_to 'Edit', edit_blog_path(blog.id) %></div>
            <div class="col-xs-12 col-sm-1 col-md-1"><%= link_to 'Delete', blog_path(blog.id), method: :delete, data: {confirm:'本当に削除していいですか？'} %></div>
           <% end %>
        </div>
    <% end %>
    
    <a class="btn btn-primary" href="blogs/new" role="button">ブログ投稿画面へ戻る</a>
  </div>
</div>
